.my_profile {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.fixed_square {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.profile_square {
  position: relative;
  margin-top: 40px;
  margin-right: 15px;
  margin-left: 15px;
}

.profile_square Button {
  color: #fff;
}

.profile_square::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 10px;
  opacity: 25%;
  background: linear-gradient(
    to right,
    #3ab0b2 0%,
    #3a90b7 25%,
    #3a6cbd 50%,
    #3a45c2 75%,
    #593bc6 100%
  );
}

.profile_square::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  border: 1px solid transparent;
  background: linear-gradient(
      to right,
      #3ab0b2 0%,
      #3a90b7 25%,
      #3a6cbd 50%,
      #3a45c2 75%,
      #593bc6 100%
    )
    border-box border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  -webkit-mask-composite: destination-out;
  mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
}

.content_btn {
  display: flex;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

.content_btn Button {
  width: 100%;
  color: #fff;
}

.content_btn_center {
  position: relative;
  width: 30%;
  margin-right: 5%;
  margin-left: 5%;
}

.content_btn_side {
  position: relative;
  width: 30%;
}

.content_btn Button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 10px;
  opacity: 25%;
  background: linear-gradient(
    to right,
    #3ab0b2 0%,
    #3a90b7 25%,
    #3a6cbd 50%,
    #3a45c2 75%,
    #593bc6 100%
  );
}

.content_btn Button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 1px solid transparent;
  background: linear-gradient(
      to right,
      #3ab0b2 0%,
      #3a90b7 25%,
      #3a6cbd 50%,
      #3a45c2 75%,
      #593bc6 100%
    )
    border-box border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  -webkit-mask-composite: destination-out;
  mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
}

.icon_name_id {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
}

.icon {
  height: 50%;
  width: auto;
  margin: auto 0;
  margin-left: 10px;
  margin-right: 5px;
}

.name_id {
  display: flex;
  align-items: last baseline;
}

.username {
  font-size: 22px;
}

.userid {
  font-size: 15px;
}

.setting_btn {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  margin-right: 5px;
}

.follow_and_followers {
  margin-left: 5px;
}

.posts {
  overflow-y: auto;
}

.form_area {
  margin-top: 5vh;
  margin-left: 5vw;
}

.form_area input {
  position: relative;
  height: 5vh;
  width: 90vw;
  border: none;
  outline: none;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
}

.form_area textarea {
  position: relative;
  height: 10vh;
  width: 90vw;
  border: none;
  outline: none;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
}

.form_area input:-webkit-autofill {
  box-shadow: 0 0 0 1000px;
}

.form_area textarea:-webkit-autofill {
  box-shadow: 0 0 0 1000px;
}

.submit_btn Button {
  position: relative;
  height: 5vh;
  width: 90vw;
  margin-top: 3vw;
  border-radius: 10px;
  color: white;
  background: linear-gradient(
    to right,
    #3ab0b2 0%,
    #3a90b7 25%,
    #3a6cbd 50%,
    #3a45c2 75%,
    #593bc6 100%
  );
}

.message {
  color: white;
}

.form_wrapper {
  position: relative;
  width: 90vw;
}

.form_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 1.5px solid transparent;
  background: linear-gradient(
      to right,
      #3ab0b2 0%,
      #3a90b7 25%,
      #3a6cbd 50%,
      #3a45c2 75%,
      #593bc6 100%
    )
    border-box border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  -webkit-mask-composite: destination-out;
  mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
}

.form_wrapper::before {
  content: "";
  position: absolute;
  top: 0.5px;
  left: 0.5px;
  right: 0.5px;
  bottom: 0.5px;
  border-radius: 10px;
  background-color: white;
}

.posts_of_community {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
}

.posts_of_community::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 1px solid transparent;
  background: linear-gradient(
      to right,
      #3ab0b2 0%,
      #3a90b7 25%,
      #3a6cbd 50%,
      #3a45c2 75%,
      #593bc6 100%
    )
    border-box border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  -webkit-mask-composite: destination-out;
  mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
}
