.comments_parent {
  position: relative;
  overflow-x: visible;
  margin-right: 15px;
  margin-top: 10px;
  width: 200px;
}

.comments_child {
  position: absolute;
  top: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  max-width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;
}

.comments_child::-webkit-scrollbar {
  display: none;
}

.comment_square {
  position: relative;
  color: white;
  padding-bottom: 5px;
}

.comment_square::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 10px;
  opacity: 25%;
  background: linear-gradient(
    to right,
    #3ab0b2 0%,
    #3a90b7 25%,
    #3a6cbd 50%,
    #3a45c2 75%,
    #593bc6 100%
  );
}

.comment_square::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 10px;
  border: 1px solid transparent;
  background: linear-gradient(
      to right,
      #3ab0b2 0%,
      #3a90b7 25%,
      #3a6cbd 50%,
      #3a45c2 75%,
      #593bc6 100%
    )
    border-box border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  -webkit-mask-composite: destination-out;
  mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
}

.icon_name_id {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 7px;
}

.name_id p {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3px;
  line-height: 1.2;
}

.name {
  font-size: 120%;
}

.id {
  font-size: 80%;
}

.timestamp {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  font-size: 13px;
  line-height: 0.4;
}

.text {
  padding-left: 10px;
  padding-right: 7px;
}

.btn_area {
  display: flex;
}

.btn_area Button {
  color: white;
}

.comment_form {
  display: flex;
  margin-top: 10px;
}

.comment_form Button {
  color: white;
}
